*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  width: 100%;
}

.topic{
  font-size: 64px;
  color: #cb8f02;
  text-shadow: 0px 2px 2px #7e7d8a;
}

.midText{
  text-align: left;
  margin-top: 20vh;
  margin-left: 5rem;
  font-size: 64px;
  user-select: none;
}

.desc{
  font-weight: lighter;
  letter-spacing: 3px;
  color:#d1ddff;
}

.popdesc{
  font-size:20px;
  color: #d7ddee;
}